* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: 'ill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /* fuente*/
    background-color:white
    
    
}
 
/*header*/
.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
	display: flex;
	flex-wrap: inherit;
	align-items: center;
	justify-content: space-between;
	align-content: space-around;
    height: 120px;
}

  .header{
      height: auto;
      background-color: red;
  }
  .navbar-light .navbar-brand {
	color: rgb(255 255 255 / 90%);
}
.header-nav{
    padding-right: 75px;
   
}
  .header_contendedor{
    background-color: red;
    max-width: 100%;
    margin: 0 auto;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center ;
   }
 

  .header_marca{
    padding: 0px;
    margin: 50px;
    width: 70px;
    height: 80px;
    position: center;
   }
   .navbar-nav{
    display: flex;
	flex-direction: column;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
    gap: 2.5rem;

   }
 

  .nav_lista{
    display: flex;

    gap: 5rem;
    margin: 30px;
    padding: 20px;
    font-size: 20px;
    width: 700px;
    
     }

   .nav_enlace{
    color: white;
    text-decoration: none;
    }  
    .nav_enlace:hover{
        text-decoration: underline;
        color: white;
    }


    ul{list-style-type: none;  }

/*main*/
/*inde*/
   .contenedor_main{

 background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1007%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(238%2c 241%2c 245%2c 1)'%3e%3c/rect%3e%3cpath d='M -331.3155538940819%2c59 C -235.32%2c142.6 -43.32%2c447.8 148.68444610591808%2c477 C 340.68%2c506.2 436.68%2c206 628.6844461059181%2c205 C 820.68%2c204 916.68%2c484.8 1108.6844461059181%2c472 C 1300.68%2c459.2 1522.42%2c179.2 1588.6844461059181%2c141 C 1654.95%2c102.8 1469.74%2c253 1440%2c281' stroke='rgba(226%2c 4%2c 4%2c 0.33)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -792.8987192827925%2c345 C -696.9%2c294.2 -504.9%2c70.8 -312.8987192827925%2c91 C -120.9%2c111.2 -24.9%2c415.6 167.1012807172075%2c446 C 359.1%2c476.4 455.1%2c247.2 647.1012807172075%2c243 C 839.1%2c238.8 968.52%2c427.8 1127.1012807172074%2c425 C 1285.68%2c422.2 1377.42%2c268.2 1440%2c229' stroke='rgba(226%2c 4%2c 4%2c 0.33)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -495.61509982152467%2c196 C -399.62%2c256.2 -207.62%2c513 -15.615099821524652%2c497 C 176.38%2c481 272.38%2c148.8 464.38490017847533%2c116 C 656.38%2c83.2 752.38%2c308.8 944.3849001784754%2c333 C 1136.38%2c357.2 1325.26%2c207.8 1424.3849001784754%2c237 C 1523.51%2c266.2 1436.88%2c430.6 1440%2c479' stroke='rgba(226%2c 4%2c 4%2c 0.33)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -327.81541520861987%2c484 C -231.82%2c425.2 -39.82%2c204.6 152.18458479138013%2c190 C 344.18%2c175.4 440.18%2c425 632.1845847913801%2c411 C 824.18%2c397 920.18%2c130.8 1112.18458479138%2c120 C 1304.18%2c109.2 1526.62%2c329.8 1592.18458479138%2c357 C 1657.75%2c384.2 1470.44%2c276.2 1440%2c256' stroke='rgba(226%2c 4%2c 4%2c 0.33)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1007'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");

    display: flex;

	width: 100%;
	padding: 7%;
	padding-top: 2%;
	padding-bottom: 2%
    }

    .img_main1{
        display: flex;
        padding: 20px;
        margin: 30px;
        width: 80%;
        height: 90%;
        justify-content: center;
        
        
    }

    .contenedor_marcamain{
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1012%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/rect%3e%3cpath d='M -901.3042917898936%2c329 C -805.3%2c277 -613.3%2c66.2 -421.3042917898935%2c69 C -229.3%2c71.8 -133.3%2c305 58.69570821010649%2c343 C 250.7%2c381 346.7%2c241 538.6957082101064%2c259 C 730.7%2c277 838.43%2c458.4 1018.6957082101064%2c433 C 1198.96%2c407.6 1355.74%2c192.2 1440%2c132' stroke='rgba(234%2c 5%2c 5%2c 0.75)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -175.32129733680324%2c292 C -79.32%2c265.6 112.68%2c124 304.67870266319676%2c160 C 496.68%2c196 592.68%2c458.2 784.6787026631968%2c472 C 976.68%2c485.8 1072.68%2c227 1264.6787026631969%2c229 C 1456.68%2c231 1709.61%2c489.2 1744.6787026631969%2c482 C 1779.74%2c474.8 1500.94%2c250.8 1440%2c193' stroke='rgba(234%2c 5%2c 5%2c 0.75)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -125.15640211710985%2c497 C -29.16%2c418.8 162.84%2c114.6 354.84359788289015%2c106 C 546.84%2c97.4 642.84%2c425.2 834.8435978828902%2c454 C 1026.84%2c482.8 1122.84%2c245 1314.8435978828902%2c250 C 1506.84%2c255 1769.81%2c475 1794.8435978828902%2c479 C 1819.87%2c483 1510.97%2c311.8 1440%2c270' stroke='rgba(234%2c 5%2c 5%2c 0.75)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -353.6196259158336%2c453 C -257.62%2c385.2 -65.62%2c144.2 126.38037408416643%2c114 C 318.38%2c83.8 414.38%2c284.6 606.3803740841664%2c302 C 798.38%2c319.4 894.38%2c204.8 1086.3803740841665%2c201 C 1278.38%2c197.2 1495.66%2c272.6 1566.3803740841665%2c283 C 1637.1%2c293.4 1465.28%2c259 1440%2c253' stroke='rgba(234%2c 5%2c 5%2c 0.75)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1012'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
        display: flex;

        width: 100%;
        padding: 7%;
        padding-top: 2%;
        padding-bottom: 2%
    }
    
        /*extend*/
        .titulo-destacado, .titulo {
            padding-top: 9%;
            color: white;
            font-style: normal;
            /*de costado*/
            font-weight: bold;
            /*negrita*/
            font-size: 40px;
            /* tamño*/
            text-align: center;
            /* alineacion(iz, centro, der */
            line-height: 2;
            /* interlineado*/
            background-color: black;
          }
          
          .titulo {
            font-size: 25px;
            text-align: left;
            margin: 10px;
            padding: 10px;
            text-decoration: underline;
          }
          .titulo-index{
            font-size: 25px;
            text-align: left;
            margin: 10px;
            padding: 10px;
            text-decoration: none;
            background-color: none;
            color: black;
          }
          .titulo-indexblack{
            font-size: 25px;
            text-align: left;
            margin: 10px;
            padding: 10px;
            text-decoration: none;
            background-color: none;
            color:white;
          }
    .caja{
    
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        background-origin: border-box;
    
        color: black;
        font-size: 20px;
        line-height: 1.50;
        margin: 10px;
        padding: 10px;
        text-align: left;
        font-style: normal;
    
    }

    .caja_indexblack{
    
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        background-origin: border-box;
    
        color: white;
        font-size: 20px;
        line-height: 1.50;
        margin: 10px;
        padding: 10px;
        text-align: left;
        font-style: normal;
    
    }


  


/*footer*/
   .footer_contenedor {
    background-color: black;
	max-width: 100%;
	margin: 0 auto;
	height: 150px;
	padding: 7%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

    }

    .div{
        display: flex;
     }

     .div_list{
        display: flex;
        gap: 8rem;
        font-size: 40px;

    }

    .div_enlace{
        color: white;
        
        }  
    
    .derechos{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style: italic; /*de costado*/
        border: 4px;
        border-style: solid;
        border-color: white;
        padding: 5px;

    }


    .footer_marca{
        padding: 10px;
        margin: 10px;
        width: 50px;
        height: 150px;
        }


/*modelos disponibles*/ 
.dropdown, .dropend, .dropstart, .dropup {
	position: relative;
    display: flex;
	justify-content: flex-end;
	padding-right: 10%;
	padding-top: 2%;
	padding-bottom: 0;

}
.btn-check:focus+.btn-secondary, .btn-secondary:focus {
	color: #fff;
	background-color: black;
	border-color: #565e64;
	box-shadow: 0 0 0 0.25rem rgb(130 138 145 / 50%);
}
.btn-secondary {
	color: #fff;
	background-color: black;
	border-color: #6c757d;
}
.contenedor_dropdowns{
    display: flex; 
     justify-content: space-between; 
     padding-top: 0;
     padding-bottom: 0;
}


    .contenedor__section{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center ;
        width: 100%;
        padding-top: 5%;


    }
    .foto__modelos{
        padding: 20px;
      
    }


    .modelos{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center ;
        width: 100%;

    }

     .tarjeta{
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1031%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/rect%3e%3cpath d='M1016 18L1188 -154' stroke-width='10' stroke='url(%23SvgjsLinearGradient1032)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M836 420L638 618' stroke-width='10' stroke='url(%23SvgjsLinearGradient1033)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M161 425L568 18' stroke-width='6' stroke='url(%23SvgjsLinearGradient1033)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M800 90L1056 -166' stroke-width='10' stroke='url(%23SvgjsLinearGradient1034)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M1189 155L962 382' stroke-width='10' stroke='url(%23SvgjsLinearGradient1032)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M443 506L703 246' stroke-width='10' stroke='url(%23SvgjsLinearGradient1032)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1162 549L1553 158' stroke-width='10' stroke='url(%23SvgjsLinearGradient1035)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M1385 115L1200 300' stroke-width='8' stroke='url(%23SvgjsLinearGradient1032)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M752 387L990 149' stroke-width='6' stroke='url(%23SvgjsLinearGradient1033)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1391 416L1808 -1' stroke-width='10' stroke='url(%23SvgjsLinearGradient1034)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M1020 71L819 272' stroke-width='8' stroke='url(%23SvgjsLinearGradient1035)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M1368 277L1105 540' stroke-width='6' stroke='url(%23SvgjsLinearGradient1033)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M767 540L1058 249' stroke-width='10' stroke='url(%23SvgjsLinearGradient1033)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M298 170L-31 499' stroke-width='6' stroke='url(%23SvgjsLinearGradient1033)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1429 278L1757 -50' stroke-width='10' stroke='url(%23SvgjsLinearGradient1033)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1203 287L1548 -58' stroke-width='6' stroke='url(%23SvgjsLinearGradient1034)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M888 193L1142 -61' stroke-width='8' stroke='url(%23SvgjsLinearGradient1033)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M667 238L903 2' stroke-width='6' stroke='url(%23SvgjsLinearGradient1032)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M507 549L653 403' stroke-width='8' stroke='url(%23SvgjsLinearGradient1033)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M773 370L1071 72' stroke-width='8' stroke='url(%23SvgjsLinearGradient1033)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M905 318L497 726' stroke-width='10' stroke='url(%23SvgjsLinearGradient1032)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M36 547L259 324' stroke-width='6' stroke='url(%23SvgjsLinearGradient1035)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M779 6L626 159' stroke-width='6' stroke='url(%23SvgjsLinearGradient1032)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M281 312L128 465' stroke-width='6' stroke='url(%23SvgjsLinearGradient1033)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M569 149L863 -145' stroke-width='6' stroke='url(%23SvgjsLinearGradient1032)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M202 203L-60 465' stroke-width='6' stroke='url(%23SvgjsLinearGradient1034)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M609 326L427 508' stroke-width='10' stroke='url(%23SvgjsLinearGradient1033)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1012 319L780 551' stroke-width='6' stroke='url(%23SvgjsLinearGradient1033)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M271 197L642 -174' stroke-width='10' stroke='url(%23SvgjsLinearGradient1035)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M1437 236L1021 652' stroke-width='6' stroke='url(%23SvgjsLinearGradient1034)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M1108 465L815 758' stroke-width='6' stroke='url(%23SvgjsLinearGradient1032)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1147 477L1534 90' stroke-width='10' stroke='url(%23SvgjsLinearGradient1033)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1068 391L894 565' stroke-width='10' stroke='url(%23SvgjsLinearGradient1033)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1257 283L1440 100' stroke-width='10' stroke='url(%23SvgjsLinearGradient1035)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M667 183L994 -144' stroke-width='8' stroke='url(%23SvgjsLinearGradient1032)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M315 466L152 629' stroke-width='6' stroke='url(%23SvgjsLinearGradient1033)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M97 290L243 144' stroke-width='6' stroke='url(%23SvgjsLinearGradient1035)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M642 197L872 -33' stroke-width='8' stroke='url(%23SvgjsLinearGradient1032)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M923 548L1078 393' stroke-width='8' stroke='url(%23SvgjsLinearGradient1032)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1031'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='100%25' y1='0%25' x2='0%25' y2='100%25' id='SvgjsLinearGradient1032'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='0%25' x2='0%25' y2='100%25' id='SvgjsLinearGradient1033'%3e%3cstop stop-color='rgba(255%2c 0%2c 0%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(255%2c 0%2c 0%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1034'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1035'%3e%3cstop stop-color='rgba(255%2c 0%2c 0%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(255%2c 0%2c 0%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
        box-shadow: 5px 10px 10px red;
        border-radius: 2px;
        
        text-align: left;


               
        width: 470px;
        padding: 3rem ;
        margin: 10;

        position: relative;

        color: white; 
    }
    .tarjeta_prueba{
        height: 500px;
        background-color: black;
        border-radius: 17px;
        text-align: left;
        width: 85%;
        position: relative;
        color: white;
        padding: 7%;

     }
     .tarjeta__tituloprueba{
        font-size: 20px;
        color: white;
        text-align: left;
        text-decoration: none;
        font-weight: bold;

     }
     .tarjeta_precio{
        font-size: 30px;
        color: orange;
        margin: 1rem 0;
        text-align: right;
        text-decoration: none;
        

     }
     .tarjeta_texto{
         color: grey;
         font-size: 15px;
         text-align: left;
     }


    .tarjeta__imagen{
        border-radius: inherit;

        width: 100%;
        height: 280px;
        object-fit: cover;
        padding: 10px;
    }

    .tarjeta__titulo{
        font-size: 20px;
        color: white;
        margin: 1rem 0;
        text-align: center;
        text-decoration: underline;

        

    }

    .tarjeta__lista{
        color: white;
        font-size: 15px;
        line-height: 1.8;
        list-style-type: circle;


    }

    .titulo__modelos{
        color: white;
        font-style: normal; /*de costado*/
        font-weight: bold; /*negrita*/
        font-size: 50px ; /* tamño*/
        text-align: center; /* alineacion(iz, centro, der */
        line-height: 2.00 ; /* interlineado*/
        background-color: black ;;
    }
    
   

  /*grid*/
    .grid{
        display: grid;
        width: auto;
        height: auto;
        grid-template-columns: 420px 420px 420px;
        grid-template-rows: 550px 550px;
        justify-items: center;
        align-items: center;
        grid-column-gap: 10px;
        padding: 3%;
        padding-top: 0;
       
    }
    .grid_prueba{
        display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 54px;
	justify-items: center;
	align-items: center;
	grid-column-gap: 201px;
	background-color: beige;
	padding: 3%;
	width: 100%;
	padding-top: 1%;
	justify-content: space-evenly;
    }
    .grid_valores{
        display: flex;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 550px ;
        justify-items: center;
        align-items: center;
        grid-column-gap: 10px;
        padding: 3%;
        width: 100%;
        justify-content: center;

    }
    .grid_permutas{
        display: grid;
        grid-template-columns: 50% 50%;
	    grid-template-rows: 100%;  
        padding: 3%;
        justify-items: center;
        align-items: center;
        grid-column-gap: 10px;

    }
    

   


/*INFO-PERMUTAS*/


   .imagen_permuta {
    padding: 1%;
	margin: 0;
	width: 100%;
	height: 270px;

   }
   .imagen_financiacion{
    padding: 1%;
	margin: 0;
	width: 100%;
	height: 435px;

   }
   .article{
       padding: 2%;
   }
    .article__titulo{
        color: black;
	font-style: normal;
	font-size: 40px;
	text-align: left;
	line-height: 2.00;
	background-color: white;

	padding: 20px;

        

    }

    .article__texto{
        color: white;
        font-style: normal;
        font-size: 20px;
        text-align: left;
        line-height: 2.00;
        background-color: black;
        
        padding: 20px;
        

    }
    

    .div__whatsapp{
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center ;
        width: 100%;
        height: 200px;
        margin: 10px;
       

    }

    .div__titulo{
        color: black;
        font-style: normal;
        font-size: 40px;
        text-align: center;
        line-height: 2.00;
        background-color: rgb(192, 180, 180);
        margin: 10px;
        padding: 10px;
        

    }

    .section_video{
        justify-content: space-evenly;
        display: flex;
        flex-direction: column;
        align-items: center ;
        width: 100%;
        height: 624px;
        margin: 10px;


    }
    
/*sobre nosotros*/

   

    .div__texto{
        color: black;
        font-style: normal;
        font-size: 25px;
        text-align: left;
        line-height: 2.00;
        background-color: rgb(192, 180, 180);
        margin: 40px;
        padding: 10px

    }

    .div__titulo{
        color: black;
        font-style: normal;
        font-size: 20px;
        text-align: left;
        line-height: 2.00;
        background-color: rgb(192, 180, 180);
        margin: 10px;
        padding: 10px;
        text-decoration: underline;
    }
    .accordion-button:not(.collapsed) {
        color: red;
        background-color: #e7f1ff;
        box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
        }

        .accordion-button {
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;
            padding: 1rem 1.25rem;
            font-size: 1rem;
            color: white;
            text-align: left;
            background-color: black;
            border: 0;
            border-radius: 0;
            overflow-anchor: none;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease;
        }    

        .accordion-button:focus {
            z-index: 3;
            border-color: #dc3545;
            outline: 0;
            box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
        }
        .accordion-body {
            padding: 1rem 1.25rem;
            color: black;
        }

        .contenedor_main_preguntasfrecuentes{
            background-color: white;
            display: flex;
            width: 100%;
            padding: 7%;
            padding-top: 2%;
            padding-bottom: 2%;
            justify-content: space-around;
            align-items: center;
            color: black;
        }
        .contenedor_valores{
            background-color: black;
        display: flex;
        color: white;
        width: 100%;
        padding: 7%;
        padding-top: 2%;
        padding-bottom: 2%
        }
        .img_valores {
            padding: 20px;
            margin: 10px;
            width: 30%;
            height: 386px;
        }
        .contenedor_medalla {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1012%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/rect%3e%3cpath d='M -901.3042917898936%2c329 C -805.3%2c277 -613.3%2c66.2 -421.3042917898935%2c69 C -229.3%2c71.8 -133.3%2c305 58.69570821010649%2c343 C 250.7%2c381 346.7%2c241 538.6957082101064%2c259 C 730.7%2c277 838.43%2c458.4 1018.6957082101064%2c433 C 1198.96%2c407.6 1355.74%2c192.2 1440%2c132' stroke='rgba(234%2c 5%2c 5%2c 0.75)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -175.32129733680324%2c292 C -79.32%2c265.6 112.68%2c124 304.67870266319676%2c160 C 496.68%2c196 592.68%2c458.2 784.6787026631968%2c472 C 976.68%2c485.8 1072.68%2c227 1264.6787026631969%2c229 C 1456.68%2c231 1709.61%2c489.2 1744.6787026631969%2c482 C 1779.74%2c474.8 1500.94%2c250.8 1440%2c193' stroke='rgba(234%2c 5%2c 5%2c 0.75)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -125.15640211710985%2c497 C -29.16%2c418.8 162.84%2c114.6 354.84359788289015%2c106 C 546.84%2c97.4 642.84%2c425.2 834.8435978828902%2c454 C 1026.84%2c482.8 1122.84%2c245 1314.8435978828902%2c250 C 1506.84%2c255 1769.81%2c475 1794.8435978828902%2c479 C 1819.87%2c483 1510.97%2c311.8 1440%2c270' stroke='rgba(234%2c 5%2c 5%2c 0.75)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -353.6196259158336%2c453 C -257.62%2c385.2 -65.62%2c144.2 126.38037408416643%2c114 C 318.38%2c83.8 414.38%2c284.6 606.3803740841664%2c302 C 798.38%2c319.4 894.38%2c204.8 1086.3803740841665%2c201 C 1278.38%2c197.2 1495.66%2c272.6 1566.3803740841665%2c283 C 1637.1%2c293.4 1465.28%2c259 1440%2c253' stroke='rgba(234%2c 5%2c 5%2c 0.75)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1012'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
            height: 450px;
	display: flex;
	width: 100%;
	padding: 7%;
	padding-top: 2%;
	padding-bottom: 2%;
	flex-wrap: nowrap;
	align-content: center;
	align-items: flex-start;
	flex-direction: row;
	justify-content: space-around;
}
   .lista_valores{
       color: white;
   }
   .valores{
       font-size: 25px;
       padding: 10%;

   }




/*contacto*/


   .contacto__div{
    background-color: black;
	border-radius: 9px;
	height: 100%;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	padding: 5rem;
	margin-top: 2%;
	margin-right: 10%;
	margin-bottom: 2%;
	margin-left: 10%;  
}
.btn-primary {
	color: #fff;
	background-color: red;
	border-color: white;
}

   .contacto__fieldset{

    color: white;
    font-size: 35px;
    line-height: 1.8;
    gap: 10px;
   
    text-align: right;

    width: 700px;
    padding: 5rem ;
    margin: 40px;

    position: relative;

    color: white; 

   }

   .contacto__titulo{
       color: white;
       font-size: 20px;
       text-align: left;
   }



   

       
   /*media querys*/

@media screen and (min-width: 1024px) {
    .header-movil{
        display: none;
    }
    
}
/*tablet*/

@media screen and (max-width: 1024px) {
body{
    
        background-color: white;
    }
    .navbar{
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-end;
        padding-top: 1rem;
        padding-bottom: 1rem;
        align-content: center;
        gap: 1rem;
    }
    .navbar-nav{
        display: flex;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        gap: 2rem;
    
       }

.contenedor_main{
    flex-direction: column;
}   
.header_contendedor{
    flex-direction: column;
}
.nav_lista{
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
}
.footer_contenedor{
    flex-direction: column;

}    
.div_list{
    flex-wrap: wrap;
    padding: 10px;
    font-size: 20px;
}
.footer_marca{
    width: 100%;
}
.caja{
    background-image: none;
    background-color: grey;
    color: black;
    
}
.foto__modelos{
    width: 100%;
}
.titulo__modelos{
    width: 100%;
}
.contenedor__section{
    flex-wrap: wrap
}

.tarjeta{
    width: 100%;
}

.grid{
    display: grid;
    flex-direction: column;
    width: auto;
    height: auto;
    grid-template-columns: 350px ;
    grid-template-rows: 700px 700px 700px 700px 700px 700px;
    justify-items: stretch; 
    align-items: stretch;

    grid-column-gap: 10px;
    grid-row-gap: 20px;

    padding: 28px; }
 



}




/*movil*/
@media screen and (max-width: 600px) {
    .header-nav{
        display: none;
    }
    body{
      
            background-color: white;
        }
    .contenedor_main{
            flex-direction: column;
        }  

        .contenedor_marcamain{
            flex-direction: column;  
        }
        .header_contendedor{
            flex-direction: column;
        }
        .header_marca{
            padding: 0px;
	        margin: 0px;
	        width: 54px;
	        height: 90px;
        }
        .navbar{
            position: relative;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: flex-end;
            padding-top: 1rem;
            padding-bottom: 1rem;
            align-content: center;
        }
       
        .navbar-nav{
            display: flex;
            flex-direction: column;
            padding-left: 0;
            margin-bottom: 0;
            list-style: none;
            gap: 1rem;
            
           }

        .nav_lista{
            flex-wrap: wrap;
            width: 100%;
            padding: 20px;
        }
        
        .footer_contenedor {
            background-color: black;
            max-width: 100%;
            margin: 0;
            height: 431px;
            padding: 1%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            align-content: center;
            flex-wrap: nowrap;
            flex-direction: column;
            }   
    .div_list{
        flex-wrap: wrap;
        padding: 14px;
        font-size: 25px;
        display: inline;
        justify-content: initial;
    }
    .footer_marca{
        width: 100%;
        margin-left: 60%;
    }
    .caja{
        background-image: none;
        
        color: black;
        
    }

    .titulo-destacado{
        padding: 10px;
    }
    .foto__modelos{
        width: 100%;
    }
    .titulo__modelos{
        width: 100%;
    }
    
    .tarjeta{
        width: 100%;
    }
    .grid{
        display: grid;
        flex-direction: column;
        width: auto;
        height: auto;
        grid-template-columns: 350px ;
        grid-template-rows: 500px 500px 500px 500px 500px 500px;
        justify-items: center; 
        align-items: center;
    
        grid-column-gap: 10px;
        grid-row-gap: 20px;
    
        padding: 20px; }

        .article__titulo{
            color: black;
            font-style: normal;
            font-size: 20px;
            text-align: left;
            line-height: 2.00;
            background-color: rgb(192, 180, 180);
            margin: 10px;
            margin-left: 0;
            margin-right: 0;
            padding: 10px;
            text-decoration: underline;
        }

        .article__texto{
            color: black;
            font-style: normal;
            font-size: 15px;
            text-align: left;
            line-height: 2.00;
            background-color: rgb(192, 180, 180);
            margin: 40px;
            margin-left: 0;
            margin-right: 0;
            padding: 10px;
           
            
    
        }
        .contenedor_medalla{
            flex-direction: column;
	display: flex;
	flex-wrap: nowrap;
	align-content: flex-start;
	justify-content: center;
	align-items: center;
	height: auto;
        }
        .img_valores {
            padding: 12px;
            margin: 18px;
            width: 50%;
            height: 100%;
        }
        .contenedor_valores {
            background-color: black;
            display: flex;
            color: white;
            width: 100%;
            padding: 7%;
            padding-top: 2%;
            padding-bottom: 2%;
            flex-wrap: wrap;
        }
        .grid_prueba {
            display: flex;
	background-color: beige;
	flex-wrap: wrap;
	align-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	justify-content: space-around;
        }
        .contenedor_dropdowns {
            display: flex;
            justify-content: space-between;
            padding-top: 0;
            padding-bottom: 0;
            flex-wrap: wrap;
        }
        .contacto__div{
            background-color: black;
            border-radius: 9px;
            height: 100%;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 80%;
            padding: 1rem;
            margin-top: 2%;
            margin-right: 10%;
            margin-bottom: 2%;
            margin-left: 10%;  
        }
        .grid_permutas {
            display: flex;
            grid-template-columns: 50%;
            grid-template-rows: 100%;
            padding: 3%;
            justify-items: center;
            align-items: center;
            grid-column-gap: 10px;
            flex-direction: column;
        }
        .imagen_permuta {
            padding: 1%;
            margin: 0;
            width: 100%;
            height: auto;
        }
       


    
    }
/* computador 4k*/
    @media screen and (min-width: 2560px) {

        .navbar-nav{
            padding-left: 450px;
        }
        
            .grid{
            	display: grid;
	            width: 100%;
            	height: auto;
             	grid-template-columns: 479px 450px 450px;
             	grid-template-rows: 550px 550px;
            	justify-items: center;
            	align-items: center;
	            grid-column-gap: 209px;
            	padding: 3%;
	            padding-left: 15%;
             	padding-right: 15%;
               
             }

    }

    /* MAP GET*/
    
    h1 {
        font-weight: 700;
      }
      
      h2 {
        font-weight: 500;
      }
      
      h3, h4 {
        font-weight: 400;
      }
      
      p {
        font-weight: 100;}


        