* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: 'ill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /* fuente*/
    background-color: rgb(196, 190, 190);
    
    
}
 
/*header*/
  .header{
      height: auto;
      background-color: red;
  }

  .header_contendedor{
    background-color: red;
    max-width: 100%;
    margin: 0 auto;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center ;
   }

  .header_marca{
    padding: 0px;
    margin: 50px;
    width: 70px;
    height: 80px;
    position: center;
   }
   

  .nav_lista{
    display: flex;

    gap: 5rem;
    margin: 30px;
    padding: 20px;
    font-size: 20px;
    width: 700px;
    
     }

   .nav_enlace{
    color: white;
    text-decoration: none;
    }  
    .nav_enlace:hover{
        text-decoration: underline;
        color: white;
    }


    ul{list-style-type: none;  }

/*main*/
/*inde*/
   .contenedor_main{
       display: flex;
       width: 100%;
       padding: 7%;
    }

    .img_main1{
        padding: 20px;
        margin: 10px;
        width: 100%;
        height: 90%;
        
        
    }
        /*extend*/
        .titulo-destacado, .titulo {
            color: white;
            font-style: normal;
            /*de costado*/
            font-weight: bold;
            /*negrita*/
            font-size: 40px;
            /* tamño*/
            text-align: center;
            /* alineacion(iz, centro, der */
            line-height: 2;
            /* interlineado*/
            background-color: black;
          }
          
          .titulo {
            font-size: 25px;
            text-align: left;
            margin: 10px;
            padding: 10px;
            text-decoration: underline;
          }

    .caja{
    
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        background-origin: border-box;
        background-color: black;
        

        color: white;
        font-size: 20px;
        line-height: 1.50;
        margin: 10px;
        padding: 10px;
        text-align: left;
        font-style: normal;
    
    }


  


/*footer*/
   .footer_contenedor {
    background-color: black;
    max-width: 100%;
    margin: 0 auto;
    height: 100%;
    padding: 10%;

    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center ;

    }

    .div{
        display: flex;
     }

     .div_list{
        display: flex;
        gap: 8rem;
        font-size: 40px;

    }

    .div_enlace{
        color: white;
        
        }  
    
    .derechos{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style: italic; /*de costado*/
        border: 4px;
        border-style: solid;
        border-color: white;
        padding: 5px;

    }


    .footer_marca{
        padding: 10px;
        margin: 10px;
        width: 50px;
        height: 150px;
        }


/*modelos disponibles*/ 

    .contenedor__section{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center ;
        width: 100%;


    }
    .foto__modelos{
        padding: 20px;
      
    }


    .modelos{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center ;
        width: 100%;

    }

     .tarjeta{
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1031%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/rect%3e%3cpath d='M1016 18L1188 -154' stroke-width='10' stroke='url(%23SvgjsLinearGradient1032)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M836 420L638 618' stroke-width='10' stroke='url(%23SvgjsLinearGradient1033)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M161 425L568 18' stroke-width='6' stroke='url(%23SvgjsLinearGradient1033)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M800 90L1056 -166' stroke-width='10' stroke='url(%23SvgjsLinearGradient1034)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M1189 155L962 382' stroke-width='10' stroke='url(%23SvgjsLinearGradient1032)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M443 506L703 246' stroke-width='10' stroke='url(%23SvgjsLinearGradient1032)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1162 549L1553 158' stroke-width='10' stroke='url(%23SvgjsLinearGradient1035)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M1385 115L1200 300' stroke-width='8' stroke='url(%23SvgjsLinearGradient1032)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M752 387L990 149' stroke-width='6' stroke='url(%23SvgjsLinearGradient1033)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1391 416L1808 -1' stroke-width='10' stroke='url(%23SvgjsLinearGradient1034)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M1020 71L819 272' stroke-width='8' stroke='url(%23SvgjsLinearGradient1035)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M1368 277L1105 540' stroke-width='6' stroke='url(%23SvgjsLinearGradient1033)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M767 540L1058 249' stroke-width='10' stroke='url(%23SvgjsLinearGradient1033)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M298 170L-31 499' stroke-width='6' stroke='url(%23SvgjsLinearGradient1033)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1429 278L1757 -50' stroke-width='10' stroke='url(%23SvgjsLinearGradient1033)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1203 287L1548 -58' stroke-width='6' stroke='url(%23SvgjsLinearGradient1034)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M888 193L1142 -61' stroke-width='8' stroke='url(%23SvgjsLinearGradient1033)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M667 238L903 2' stroke-width='6' stroke='url(%23SvgjsLinearGradient1032)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M507 549L653 403' stroke-width='8' stroke='url(%23SvgjsLinearGradient1033)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M773 370L1071 72' stroke-width='8' stroke='url(%23SvgjsLinearGradient1033)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M905 318L497 726' stroke-width='10' stroke='url(%23SvgjsLinearGradient1032)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M36 547L259 324' stroke-width='6' stroke='url(%23SvgjsLinearGradient1035)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M779 6L626 159' stroke-width='6' stroke='url(%23SvgjsLinearGradient1032)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M281 312L128 465' stroke-width='6' stroke='url(%23SvgjsLinearGradient1033)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M569 149L863 -145' stroke-width='6' stroke='url(%23SvgjsLinearGradient1032)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M202 203L-60 465' stroke-width='6' stroke='url(%23SvgjsLinearGradient1034)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M609 326L427 508' stroke-width='10' stroke='url(%23SvgjsLinearGradient1033)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1012 319L780 551' stroke-width='6' stroke='url(%23SvgjsLinearGradient1033)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M271 197L642 -174' stroke-width='10' stroke='url(%23SvgjsLinearGradient1035)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M1437 236L1021 652' stroke-width='6' stroke='url(%23SvgjsLinearGradient1034)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M1108 465L815 758' stroke-width='6' stroke='url(%23SvgjsLinearGradient1032)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1147 477L1534 90' stroke-width='10' stroke='url(%23SvgjsLinearGradient1033)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1068 391L894 565' stroke-width='10' stroke='url(%23SvgjsLinearGradient1033)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M1257 283L1440 100' stroke-width='10' stroke='url(%23SvgjsLinearGradient1035)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M667 183L994 -144' stroke-width='8' stroke='url(%23SvgjsLinearGradient1032)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M315 466L152 629' stroke-width='6' stroke='url(%23SvgjsLinearGradient1033)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M97 290L243 144' stroke-width='6' stroke='url(%23SvgjsLinearGradient1035)' stroke-linecap='round' class='TopRight'%3e%3c/path%3e%3cpath d='M642 197L872 -33' stroke-width='8' stroke='url(%23SvgjsLinearGradient1032)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3cpath d='M923 548L1078 393' stroke-width='8' stroke='url(%23SvgjsLinearGradient1032)' stroke-linecap='round' class='BottomLeft'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1031'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='100%25' y1='0%25' x2='0%25' y2='100%25' id='SvgjsLinearGradient1032'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='0%25' x2='0%25' y2='100%25' id='SvgjsLinearGradient1033'%3e%3cstop stop-color='rgba(255%2c 0%2c 0%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(255%2c 0%2c 0%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1034'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1035'%3e%3cstop stop-color='rgba(255%2c 0%2c 0%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(255%2c 0%2c 0%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
        box-shadow: 5px 10px 10px red;
        border-radius: 2px;
        
        text-align: left;


               
        width: 470px;
        padding: 3rem ;
        margin: 10;

        position: relative;

        color: white; 
    }


    .tarjeta__imagen{
        border-radius: inherit;

        width: 100%;
        height: 280px;
        object-fit: cover;
        padding: 10px;
    }

    .tarjeta__titulo{
        font-size: 20px;
        color: white;
        margin: 1rem 0;
        text-align: center;
        text-decoration: underline;

        

    }

    .tarjeta__lista{
        color: white;
        font-size: 15px;
        line-height: 1.8;
        list-style-type: circle;


    }

    .titulo__modelos{
        color: white;
        font-style: normal; /*de costado*/
        font-weight: bold; /*negrita*/
        font-size: 50px ; /* tamño*/
        text-align: center; /* alineacion(iz, centro, der */
        line-height: 2.00 ; /* interlineado*/
        background-color: black ;;
    }
    
   

  /*grid*/
    .grid{
        display: grid;
        width: auto;
        height: auto;
        grid-template-columns: 420px  420px 420px;
        grid-template-rows: 700px 700px ;
        justify-items: stretch; 
        align-items: stretch;

        grid-column-gap: 10px;
        grid-row-gap: 20px;

        padding: 50px;
        padding-left: 100px;
        padding-right: 180px;
        
      


    }


/*INFO-PERMUTAS*/
    .article__titulo{
        color: black;
        font-style: normal;
        font-size: 20px;
        text-align: left;
        line-height: 2.00;
        background-color: rgb(192, 180, 180);
        margin: 10px;
        margin-left: 150px;
        margin-right: 150px;
        padding: 10px;
        text-decoration: underline;
        

    }

    .article__texto{
        color: black;
        font-style: normal;
        font-size: 15px;
        text-align: left;
        line-height: 2.00;
        background-color: rgb(192, 180, 180);
        margin: 40px;
        margin-left: 200px;
        margin-right: 200px;
        padding: 10px;
       
        

    }

    .div__whatsapp{
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center ;
        width: 100%;
        height: 200px;
        margin: 10px;
       

    }

    .div__titulo{
        color: black;
        font-style: normal;
        font-size: 40px;
        text-align: center;
        line-height: 2.00;
        background-color: rgb(192, 180, 180);
        margin: 10px;
        padding: 10px;
        

    }

    .section_video{
        justify-content: space-evenly;
        display: flex;
        flex-direction: column;
        align-items: center ;
        width: 100%;
        height: 624px;
        margin: 10px;


    }
    
/*sobre nosotros*/
    .div__texto{
        color: black;
        font-style: normal;
        font-size: 25px;
        text-align: left;
        line-height: 2.00;
        background-color: rgb(192, 180, 180);
        margin: 40px;
        padding: 10px

    }

    .div__titulo{
        color: black;
        font-style: normal;
        font-size: 20px;
        text-align: left;
        line-height: 2.00;
        background-color: rgb(192, 180, 180);
        margin: 10px;
        padding: 10px;
        text-decoration: underline;
    }




/*contacto*/

   .contacto__div{
    background-color: black;
    border-radius: 9px ;
    height:100%;


    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center ;
    width: 80%;
    padding: 5rem ;
    margin: 130px;
 
           
}

   .contacto__fieldset{

    color: white;
    font-size: 35px;
    line-height: 1.8;
    gap: 10px;
   
    text-align: right;

    width: 700px;
    padding: 5rem ;
    margin: 40px;

    position: relative;

    color: white; 

   }

   .contacto__titulo{
       color: white;
       font-size: 20px;
       text-align: left;
   }



   

       
   /*media querys*/


/*tablet*/

@media screen and (max-width: 1024px) {
body{
    
        background-color: white;
    }
    .navbar{
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-end;
        padding-top: 1rem;
        padding-bottom: 1rem;
        align-content: center;
    }

.contenedor_main{
    flex-direction: column;
}   
.header_contendedor{
    flex-direction: column;
}
.nav_lista{
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
}
.footer_contenedor{
    flex-direction: column;

}    
.div_list{
    flex-wrap: wrap;
    padding: 10px;
    font-size: 20px;
}
.footer_marca{
    width: 100%;
}
.caja{
    background-image: none;
    background-color: grey;
    color: black;
    
}
.foto__modelos{
    width: 100%;
}
.titulo__modelos{
    width: 100%;
}
.contenedor__section{
    flex-wrap: wrap
}

.tarjeta{
    width: 100%;
}

.grid{
    display: grid;
    flex-direction: column;
    width: auto;
    height: auto;
    grid-template-columns: 350px ;
    grid-template-rows: 700px 700px 700px 700px 700px 700px;
    justify-items: stretch; 
    align-items: stretch;

    grid-column-gap: 10px;
    grid-row-gap: 20px;

    padding: 28px; }
 



}




/*movil*/
@media screen and (max-width: 600px) {
    body{
      
            background-color:white;
        }
    .contenedor_main{
            flex-direction: column;
        }  
        .header_contendedor{
            flex-direction: column;
        }
        .header_marca{
            padding: 0px;
	        margin: 0px;
	        width: 54px;
	        height: 90px;
        }
        .navbar{
            position: relative;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: flex-end;
            padding-top: 1rem;
            padding-bottom: 1rem;
            align-content: center;
        }


        .nav_lista{
            flex-wrap: wrap;
            width: 100%;
            padding: 20px;
        }
        
    .footer_contenedor{
        flex-direction: column;
        

    }    
    .div_list{
        flex-wrap: wrap;
        padding: 10px;
        font-size: 15px;
        margin-left: 4rem;
    }
    .footer_marca{
        width: 100%;
        margin-left: 6rem;
    }
    .caja{
        background-image: none;
        background-color: grey;
        color: black;
        
    }

    .titulo-destacado{
        padding: 10px;
    }
    .foto__modelos{
        width: 100%;
    }
    .titulo__modelos{
        width: 100%;
    }
    
    .tarjeta{
        width: 100%;
    }
    .grid{
        display: grid;
        flex-direction: column;
        width: auto;
        height: auto;
        grid-template-columns: 350px ;
        grid-template-rows: 700px 700px 700px 700px 700px 700px;
        justify-items: stretch; 
        align-items: stretch;
    
        grid-column-gap: 10px;
        grid-row-gap: 20px;
    
        padding: 28px; }

        .article__titulo{
            color: black;
            font-style: normal;
            font-size: 20px;
            text-align: left;
            line-height: 2.00;
            background-color: rgb(192, 180, 180);
            margin: 10px;
            margin-left: 0;
            margin-right: 0;
            padding: 10px;
            text-decoration: underline;
        }

        .article__texto{
            color: black;
            font-style: normal;
            font-size: 15px;
            text-align: left;
            line-height: 2.00;
            background-color: rgb(192, 180, 180);
            margin: 40px;
            margin-left: 0;
            margin-right: 0;
            padding: 10px;
           
            
    
        }

    
    }
/* computador 4k*/
    @media screen and (min-width: 2560px) {

        .navbar-nav{
            padding-left: 450px;
        }
        .grid{
            display: grid;
            flex-direction: column;
            width: auto;
            height: auto;
            grid-template-columns: 750px 750px 750px;
            grid-template-rows: 700px 700px;
            justify-items: stretch; 
            align-items: stretch;
        
            grid-column-gap: 10px;
            grid-row-gap: 20px;
        
            padding: 28px;
            margin-left: 250px; }

    }

    /* MAP GET*/
    
    h1 {
        font-weight: 700;
      }
      
      h2 {
        font-weight: 500;
      }
      
      h3, h4 {
        font-weight: 400;
      }
      
      p {
        font-weight: 100;}


        